<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [53]:
import pandas  as pd
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [54]:
file_nested_list = pd.read_csv(DATA_FILE, sep = '\t')

### Part 2: Separate `file_nested_list` into the `header` and the `data`. <br> whats the point of this?

In [55]:
file_nested_list.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [56]:
file_nested_list.values

array([[1, 1, 'Chips and Fresh Tomato Salsa', nan, '$2.39 '],
       [1, 1, 'Izze', '[Clementine]', '$3.39 '],
       [1, 1, 'Nantucket Nectar', '[Apple]', '$3.39 '],
       ...,
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]',
        '$11.25 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]', '$8.75 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]',
        '$8.75 ']], dtype=object)

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [57]:
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

convert $$ to float

In [ ]:
file_nested_list['item_price'] = file_nested_list['item_price'].str.replace('$',  '').replace(',', '').astype(float)

avg order price

In [64]:
file_nested_list.groupby(['order_id']).agg({'item_price': 'sum'}).mean()

item_price    18.811429
dtype: float64

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.




Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`. `TEST`

In [77]:
mask1 = file_nested_list['item_name'] == 'Canned Soda'
mask2 = file_nested_list['item_name'] == 'Canned Soft Drink'

In [84]:
sodas_df = file_nested_list[mask1 | mask2]

In [85]:
sodas_df.head()

     order_id  quantity    item_name choice_description  item_price
18          9         2  Canned Soda           [Sprite]        2.18
28         14         1  Canned Soda       [Dr. Pepper]        1.09
51         23         2  Canned Soda     [Mountain Dew]        2.18
53         24         1  Canned Soda           [Sprite]        1.09
107        47         1  Canned Soda       [Dr. Pepper]        1.09

In [88]:
list(set([item for item in sodas_df['choice_description']]))

['[Sprite]',
 '[Coca Cola]',
 '[Mountain Dew]',
 '[Diet Coke]',
 '[Coke]',
 '[Lemonade]',
 '[Dr. Pepper]',
 '[Nestea]',
 '[Diet Dr. Pepper]']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

# filter for burritos, fix toppings string to be read as list, getlength of topping list

In [92]:
burritos = file_nested_list[file_nested_list['item_name'].str.contains('Burrito')]
burritos['choice_description'] = burritos['choice_description'].str.replace('[', '').str.replace(']', '')
burritos['toppings'] = burritos['choice_description'].apply(lambda x: len(x.split(', ')))

In [175]:
burritos['toppings'].mean()

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [182]:
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [185]:
chips  = file_nested_list[file_nested_list['item_name'].str.contains('Chip')]

In [188]:
chips.groupby('item_name').agg({'quantity':'sum'})

                                       quantity
item_name
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           23
Chips and Roasted Chili-Corn Salsa           18
Chips and Tomatillo Green Chili Salsa        45
Chips and Tomatillo Red Chili Salsa          50
Chips and Tomatillo-Green Chili Salsa        33
Chips and Tomatillo-Red Chili Salsa          25
Side of Chips                               110

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

what toppings do they serve

In [178]:

topping_set = set()
for item  in burritos['choice_description']:
    topping_list = item.split(', ')
    for item in topping_list:
        topping_set.add(item)
toppings = list(topping_set)
topping_set = set()
for item  in burritos['choice_description']:
    topping_list = item.split(', ')
    for item in topping_list:
        topping_set.add(item)
toppings = list(topping_set)

In [180]:
toppings.sort()

In [181]:
toppings

['Adobo-Marinated and Grilled Chicken',
 'Adobo-Marinated and Grilled Steak',
 'Black Beans',
 'Braised Barbacoa',
 'Brown Rice',
 'Cheese',
 'Cilantro-Lime Rice',
 'Fajita Vegetables',
 'Fajita Veggies',
 'Fresh Tomato (Mild)',
 'Fresh Tomato Salsa',
 'Fresh Tomato Salsa (Mild)',
 'Guacamole',
 'Lettuce',
 'Pinto Beans',
 'Rice',
 'Roasted Chili Corn (Medium)',
 'Roasted Chili Corn Salsa',
 'Roasted Chili Corn Salsa (Medium)',
 'Salsa',
 'Sour Cream',
 'Tomatillo Green Chili (Medium)',
 'Tomatillo Green Chili Salsa',
 'Tomatillo Red Chili (Hot)',
 'Tomatillo Red Chili Salsa',
 'Tomatillo-Green Chili Salsa (Medium)',
 'Tomatillo-Red Chili Salsa (Hot)',
 'Vegetarian Black Beans',
 'White Rice']