<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [1]:
# Enter Student names here:
student_names = []

---

### 1) What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# A:

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [4]:
# A:

---

### 3) Print the `student_names` list.

In [5]:
# A:

---

### 4) Print the names of the first and last students on the list.

In [6]:
# A:

---

### 5) Print the first five names in the `student_names` list.

In [7]:
# A:

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [8]:
# A:

---

### 7) Append an animal to the list of animals.

In [49]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
# A:

---

### 8) Print the length of the `animals` list.

In [55]:
len(animals)

6

---

### 9) Divide the length of the fifth animal by the second.

In [12]:
# A:

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [13]:
# A:

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [50]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [51]:
numbers.extend(animals)

In [54]:
numbers

[0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 'duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle']

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [16]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [17]:
# A:

---

### 13) Sort the following list.

In [45]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [46]:
# A:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [20]:
# A:

---

### 15) Find the index of `'a'` in the list.

In [21]:
# A:

---

### 16) Reverse the `mix` list.

In [22]:
# A:

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [23]:
# A:

---

### 18) Count the number of times `0` appears in the following list.

In [24]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [25]:
# A:

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [2]:
# A:
df_zips = {'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [3]:
df_zips['soma'] = 999999

In [4]:
df_zips

{'sunset': 94122, 'presidio': 94129, 'soma': 999999, 'marina': 94123}

---

### 21) Get the keys out of the dictionary.

In [5]:
# A:
df_zips['soma']

999999

In [6]:
df_zips.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

In [7]:
df_zips.items()

dict_items([('sunset', 94122), ('presidio', 94129), ('soma', 999999), ('marina', 94123)])

In [8]:
df_zips.values()

dict_values([94122, 94129, 999999, 94123])

In [20]:
for area, zipcode in df_zips.items():
    if area in ['soma', 'sunset']:
        print(area + ' is my favorite area in SF')
        print("it has a {} zipcode".format(zipcode))
    else: 
        print('{} isn\'t as cool as soma'.format(area))

sunset is my favorite area in SF
it has a 94122 zipcode
presidio isn't as cool as soma
soma is my favorite area in SF
it has a 999999 zipcode
marina isn't as cool as soma

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [29]:
# A:

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [21]:
# A:
df_zips['Castro'] = 94114

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [23]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [34]:
df_zips.update(small)

AttributeError: 'dict' object has no attribute 'merge'

In [33]:
df_zips

{'sunset': 94122,
 'presidio': 94129,
 'soma': 999999,
 'marina': 94123,
 'Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [36]:
# A:
df_zips.pop('sunset')

94122

{'presidio': 94129,
 'soma': 999999,
 'marina': 94123,
 'Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [38]:
if 'dogpatch' in df_zips:
    print('True')

True

In [40]:
df_zips['dogpatch']

94107

In [44]:
df_zips.get('dogpatch')

94107